a {
    background-color: cornflowerblue;
    color: beige;
    padding: 15px;
    text-decoration: none;
}
/* site que já foi visitado */
a:visited {
    background-color: blueviolet;
}
/* mouse por cima do elemento */
a:hover {
 padding: 20px;
}
/* quando o elemento e clicado*/
A:active {
    background-color: #444;
}